/* Create an application at https://dev.twitter.com/apps and use the values provided */
exports.credentials = {
  consumer_key: '',
  consumer_secret: '',
  access_token_key: '',
  access_token_secret: ''
}
